.app-container {
  display: flex;
  flex-direction: column;
  background-image: url("/assets/img/NORMAL/new-bg-tlx-.png");
  background-size: cover; /* Asegura que el fondo cubra toda la pantalla */
  background-position: center center; /* Centra el fondo */
  background-attachment: fixed; /* Hace que el fondo se quede fijo al hacer scroll */
}

.main-content {
  display: flex;
  flex-grow: 1; /* Hace que el contenido se expanda para ocupar el espacio restante */
}

app-sidebar {
  width: 4.5rem; /* Ajusta el tamaño del sidebar */
}


.blur {
  background-color: rgba(233, 233, 233, 0.5); /* Fondo con transparencia */
  backdrop-filter: blur(8px); /* Efecto de desenfoque */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  position: relative; /* Para que no se desplace el contenido de blur */
}

app-header2 {
  background: transparent; /* Asegura que no tenga un fondo sólido que tape el efecto de blur */
}
