.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Para que ocupe toda la altura */
  }
  
  .main-content {
    display: flex;
    flex-grow: 1; /* Hace que el contenido se expanda para ocupar el espacio restante */
  }
  
  app-sidebar {
    width:  4.5rem; /* Ajusta el tamaño del sidebar */
  }
  
  .content {
    flex-grow: 1; /* Hace que el contenido se expanda para ocupar el espacio restante */
    padding: 20px; /* Espaciado alrededor del contenido */
    background-color: #f4f4f4; /* Puedes agregar un color de fondo si lo deseas */
  }
  