<div class="app-container-svg">
  <div class="blur">
    <app-header></app-header>
  </div>

  <div class="main-content">
    <div class="bg-light d-flex rounded">
      <!-- Botón para mostrar/ocultar sidebar -->
      <button class="rounded bg-light" (click)="toggleSidebar()"><i class="bi bi-list"></i></button>
      <app-sidebar [class.sidebar-hidden]="sidebarHidden"></app-sidebar>
    </div>

    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>

  <app-footer></app-footer>
</div>
