
  <div class="d-flex flex-column flex-shrink-0 bg-light " style="width: 4.5rem;">
    <div class="dropdown border-top">
      <a href="" class="d-flex align-items-center justify-content-center p-3 link-light text-decoration-none dropdown-toggle" id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://avatars.githubusercontent.com/u/70349430?s=400&u=b6cf3cf18942153f767db5cd679c7791676e8464&v=4" alt="mdo" width="34" height="34" class="rounded-circle">
      </a>
      
      <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser3">
        <li><a class="dropdown-item" href="#">Nuevo proyecto...</a></li>
        <li><a class="dropdown-item" href="#">Configuración</a></li>
        <li><a class="dropdown-item" href="#">Perfil</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="#">Cerrar sesión</a></li>
      </ul>

    </div>

    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
      <li class="nav-item">
        <a href="#" class="nav-link active py-3 border-bottom" aria-current="page" title="Home" data-bs-toggle="tooltip"
          data-bs-placement="right">
          <i class="bi bi-house-door-fill"></i>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link py-3 border-bottom" title="Dashboard" data-bs-toggle="tooltip"
          data-bs-placement="right">
          <svg class="bi" width="24" height="24" role="img" aria-label="Dashboard" style="color: black;">
            <use xlink:href="#speedometer2"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link py-3 border-bottom" title="Orders" data-bs-toggle="tooltip"
          data-bs-placement="right">
          <svg class="bi" width="24" height="24" role="img" aria-label="Orders">
            <use xlink:href="#table"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link py-3 border-bottom" title="Products" data-bs-toggle="tooltip"
          data-bs-placement="right">
          <svg class="bi" width="24" height="24" role="img" aria-label="Products">
            <use xlink:href="#grid"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link py-3 border-bottom" title="Customers" data-bs-toggle="tooltip"
          data-bs-placement="right">
          <svg class="bi" width="24" height="24" role="img" aria-label="Customers">
            <use xlink:href="#people-circle"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
