<footer class="d-block" style="background-color: #FFFFFF;">
    <div class="footer-main-logo">
        <div class="circle-background">
            <img src="assets/img/TLAX.png" alt="Tlaxcala Logo" class="main-logo-img">

            <!-- VEDA -->
            <!-- <img src="assets/img/VEDA/tlaxcala-shield.png" alt="Tlaxcala Logo" class="main-logo-img"> -->
        </div>
    </div>
    
    <div class="footer-content">
        <div class="footer-left">
            <img src="assets/img/SEPE-USET-HQ.png" alt="SEPE Logo" class="footer-logo">

            <!-- VEDA -->
            <!-- <img src="assets/img/VEDA/TLAXVEDA3.png" alt="SEPE Logo" class="footer-logo"> -->
        </div>
        <div class="footer-right">
            <div class="footer-text">
                <p><i class="bi bi-geo-alt-fill icon"></i> Carretera Federal Libre Tlaxcala– Puebla km.1.5 int. 5 las Ánimas, C.P 90030 Tlaxcala.</p>
                <p><i class="bi bi-telephone-fill icon"></i> 246 462 3600</p>
                <p><i class="bi bi-envelope-fill icon"></i> webmaster&#64;septlaxcala.gob.mx</p>
            </div>
        </div>
    </div>

    <div class="footer-bottom2"></div>
    <div class="footer-bottom">
        <div class="footer-bottom-left">
            <p>Copyright © 2024 Secretaría de Educación Pública de Tlaxcala y USET</p>
        </div>
        <div class="footer-bottom-right">
            <p>Departamento de Tecnologías de la Información y Comunicación</p>
        </div>
    </div>
</footer>
